body{
    background: #2A3640;
}
/*Estilos pagina LandingPage*/
.home,.promociones, .reseñas{
    display: flex;
    flex-direction: column;
    position: relative;
    
}


.contenedor{
    position: relative;
    flex: 1;
    top: 5rem;
    left: 10%;
    width: 90%;
}
.contenedor span{
    padding: 0 5rem 0 0 ;
    color: #F8EAE3;
}

/*Estilos Pagina Promociones*/
.titulo{
    color: #F8EAE3;
    margin-bottom: 1rem;
}

.contConstum{
    position: relative;
    top: 2rem;
    width: 80%;
    margin: auto;
    margin-bottom: 3.5rem;
}


